<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mhd.basekit" >
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <application>
        <activity android:name=".viewkit.view.webview.MHDWebViewActivity"/>
        <!-- 支付宝接入 -->
    </application>
</manifest>
